name: Run unit tests

on:
  pull_request:
  push:
  workflow_dispatch:
#  schedule:
#    # Run every Sunday at 03:53 UTC
#    - cron: 53 3 * * 0

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Run Tox
        run: pipx run tox -e py39 -v
